<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <form th:method="PATCH" th:action="@{/admin?id={id}(id=${user.getId()})}" th:object="${user}">
        <label for="firstName">Введите имя: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br/>
        <label for="lastName">Введите фамилию: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="email">Введите имейл: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <div th:each="role : ${allRoles}">
            <label>
                <input type="checkbox"
                       name="usersRoles"
                       th:value="${role.name}"
                       th:checked="${user.roles.contains(role)}"/>
                <span th:text="${role.name}"></span>
            </label>
        </div>
        <input type="submit" value="Обновить">
    </form>
</body>
</html>