body{
    height: 100%;
}
.login-input{
    width: 100%;
}
.loginBlock{
    margin-top: 50px;
}

.login-button{
    margin-top: 5px;
}

.admin-panel-table-block{
    margin-top: 20px;
}

.left-nav-buttons{
    width: 250px;
}

.input-width{
    width: 400px;
}

.add-user-btn{
    margin-top: 20px;
}