<div th:fragment="header" class="text-bg-dark p-1">
    <div class="row align-items-center">
        <div class="col">
            <span class="align-text-bottom fs-5" id="headerUserBlock">
            </span>
        </div>
        <div class="col">
            <figure class="text-end mb-0">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
            </figure>
        </div>
    </div>
</div>